
* {
    margin: 0px;
    padding: 0px;
}

body {
    align-items: center;
    align-content: center;
}

#color {
    background-color: white;
}

.pad {
    padding-top: 20px;
}

.img-size {
    height: auto;
    width: 100%;
    align-items: center;
    margin: 10px;
}

.modal-body {
    background-color: lightgrey;
}
