
* {
    margin: 0px;
    padding: 0px;
}

body {
    align-items: center;
    align-content: center;
}

#color {
    background-color: white;
}

.pad {
    padding-top: 20px;
}

.img-size {
    height: 600px;
    width: 1100px;
    align-items: center;
    margin: 10px;
}

.modal-body {
    background-color: lightgrey;
}
